body {
       background: #020129;
background: linear-gradient(90deg, rgba(2, 1, 41, 1) 0%, rgba(9, 9, 121, 1) 61%);
* {
    max-width: 1500px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background: black;
    
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    
    color: rosybrown;
    font-size: 25px;
    font-weight: bold, underline;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

h2 {
    color: white;
    width: 20%;
    margin: 0px;
    padding-left:0px;
    font-size: 30px;
}

.about {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    color: white;
    font-size: 25px;
}

table {
    th {
        color: white;
        font-size: 20px;
    }
    td {
        color: white;
        font-size: 20px;
    }
    width: 20% auto;
    border-collapse: collapse;
}

ul {
    color: white;
    font-size: 20px
}

form {
    color: white;
    font-size: 20px;
}

h1 {
    color: white;
    font-size: 20px;
}

footer {
    color: white;
    font-size: 20px;
}